---
import Layout from '@layouts/Layout.astro';
---

<Layout
	title='Croma | Início'
	description='Bem vindo ao trio instrumenal Croma!'
>
	<main>
		<section>
			<h1>Lorem ipsum dolor sit amet</h1>
			<h2>Lorem ipsum dolor sit amet</h2>
			<h3>Lorem ipsum dolor sit amet</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.
			</p>
		</section>
	</main>
</Layout>

<style></style>
